.customButton:active {
    transition-duration: 0.2s;
    scale: 0.9 0.9;
    translate: 0 0;
    transition-timing-function: ease;
    transition-property: all;
}

.customButton {
    scale: 1 1;
    transition-duration: 0.2s;
    height: auto;
    width: 128px;
    aspect-ratio: 1;
}

.unity-base-text-field__input {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -unity-text-align: middle-left;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 100px;
    -unity-font-definition: url("project://database/Assets/Fonts/Switzer_Complete/Fonts/WEB/fonts/Switzer-SemiboldItalic.ttf?fileID=12800000&guid=ad483681a2c9294469b0320aa4308bcf&type=3#Switzer-SemiboldItalic");
}

.unity-scroll-view__content-container {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
}
