.customButton:active {
    transition-duration: 0.2s;
    scale: 0.9 0.9;
    translate: 0 0;
    transition-timing-function: ease;
    transition-property: all;
}

.customButton {
    scale: 1 1;
    transition-duration: 0.2s;
    height: auto;
    width: 128px;
    aspect-ratio: 1;
}

.unity-base-text-field__input {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -unity-text-align: middle-left;
    background-color: rgb(255, 255, 255);
    color: rgb(140, 140, 140);
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 100px;
    -unity-font-definition: url("project://database/Assets/Fonts/Switzer_Complete/Fonts/WEB/fonts/Switzer-SemiboldItalic.ttf?fileID=12800000&guid=ad483681a2c9294469b0320aa4308bcf&type=3#Switzer-SemiboldItalic");
}

#PlayerNameSelector > .unity-base-text-field__input {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -unity-text-align: middle-center;
    background-color: rgb(41, 0, 8);
    color: rgb(255, 255, 255);
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 60px;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Examples%20&%20Extras/Fonts/Electronic%20Highway%20Sign.TTF?fileID=12800000&guid=8a2b9e2a607dd2143b58c44bc32410b4&type=3#Electronic Highway Sign");
    font-size: 4px;
}

.unity-scroll-view__content-container {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
}

.unity-base-dropdown__container-outer {
    max-height: 400px;
}

.unity-base-dropdown__container-inner {
    max-height: 400px;
    overflow: hidden;
}

#DropPaises > .unity-base-popup-field__input {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    padding-left: 96px;
    background-color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/Fonts/Switzer_Complete/Fonts/OTF/Switzer-Medium.otf?fileID=12800000&guid=0ede7fb590f099e4fa345fe6f68c7ac5&type=3#Switzer-Medium");
}
